#title{
    display:flex;
    font-size:80px;
}

#top{
    display:flex;
    height:300px;
    flex-direction:row;
}

#header{
    display:flex;
    flex-direction:row;
}

.navItem{
    padding:20px;
}